<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 🔹 android:allowBackup="false"  kullanıcı uygulamayın silip tekrar yüklese bile giirş bilgileri kayıtlı kalır
        kayıtlı kaldıgı için ınboarding screen görünmez uygulama silinip tekrar yüklendiğinde onboarding görünmesi için
        false yap.-->


    <application
        android:name="com.ayse.aroundyou.di.hiltApplication.MainApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AroundYou"
        tools:targetApi="31">

        <!-- 🔹 Google Maps API anahtarı buraya gelecek -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASIYzM-akm_u24eudM-RQSLmr7L5n31iw"/>


        <!-- ✅ AdMob (Google Mobile Ads) Uygulama ID — Şimdilik TEST ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AroundYou">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>